@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&display=swap");

:root {
  --primaryColor: #eab308;
  --header-content-width: 800px;
  --text-backgroundColor: #fefce8;
  --background-transparent: rgb(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* header */
header {
  min-height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 4vw 2.5vw;
  margin-bottom: 50px;
}

.progress-bar {
  position: fixed;
  top: 0;
  height: 4px;
  background: black;
  width: 0%;
  z-index: 99;
}

.path-wrapper {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primaryColor);
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 5% 100%, 0% 100%);
  z-index: -1;
}

.textcontainer {
  padding: 20px;
  max-width: var(--header-content-width);
  background-color: var(--text-backgroundColor);
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.textcontainer h1 {
  margin: 20px 0;
  padding: 0;
}

.textcontainer .fa-lightbulb {
  color: var(--primaryColor);
}

.myname {
  color: var(--primaryColor);
  padding: 0 1vw;
  font-family: "Kalam", cursive;
}

.textcontainer p {
  line-height: 1.5rem;
}

.textcontainer p i,
.textcontainer p img {
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
}

.links {
  padding: 24px 0;
}

.links a {
  float: right;
  margin-left: 10px;
}

/* my work */
.my-work {
  padding: 0 0 10vh 0;
  position: relative;
}

.my-work h1 {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0 20px 5vw;
  z-index: 30;
}

.projects {
  padding: 0 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 50px 20px;
  grid-auto-rows: max-content;
}

.project {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  background-color: white;
  transition: transform 200ms linear;
  border-radius: 10px;
  padding-bottom: 10px;
}

.project:hover {
  transform: translateY(-20px);
}

.project > .project-image-wrapper {
  width: 100%;
  min-height: 220px;
}

.project-image-wrapper img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project h2 {
  padding: 20px;
  text-transform: capitalize;
  background-color: var(--primaryColor);
}

.description {
  padding: 20px;
  background-color: var(--text-backgroundColor);
}

.project .links {
  padding-right: 20px;
}

/* contact  me */
.contact {
  min-height: 100%;
  position: relative;
  /* padding: 0 0 5vh 0; */
}
.contact h1 {
  text-transform: capitalize;
  margin-bottom: 50px;
  padding: 10px 0 10px 5vw;
  position: sticky;
  top: 0;
  padding: 20px 0 20px 5vw;
}
.contact .grid-wrapper {
  padding: 0 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5vw;
  align-items: center;
}

.contact-me {
  background-color: var(--primaryColor);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.contact-me img {
  vertical-align: middle;
  margin-right: 10px;
}

.contact-me > .links > a {
  float: none;
  margin-left: 0;
}

.mapouter {
  border-radius: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.gmap_canvas {
  border-radius: 10px;
}

.contact-me p:nth-child(1),
.myaddress {
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.contact-me > div:nth-child(3),
.contact-me > div:nth-child(4),
.contact-me > div:nth-child(5) {
  padding: 10px 0;
}

.contact-me > div:nth-child(3) > a,
.contact-me > div:nth-child(4) > a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 778px) {
  .contact h1 {
    background-color: #f9fafb;
  }

  .contact .grid-wrapper {
    grid-template-columns: 1fr;
    justify-items: auto;
    gap: 20px;
  }
}
